body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle, #1a1a1a, #000);
  color: white;
  text-align: center;
}

/* LOGIN */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 12px;
  width: 280px;
}

/* INPUTS */
input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

/* BUTTONS */
button {
  padding: 10px 20px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* TOP BAR */
.topbar {
  padding: 10px;
  background: rgba(255,255,255,0.05);
}

/* WHEEL */
.wheel-container {
  margin-top: 20px;
}

canvas {
  border-radius: 50%;
  background: white;
}

/* WINNER */
#winner {
  color: gold;
  margin-top: 20px;
}